:root {
  --whiteColor: #ffffff;
  --lightWhiteColor: #A0A0A0;
  --bgColor: #101010;
  --redColor: #d50000;
  --yellowColor: #ff9800;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: var(--whiteColor);
}

body {
  background-color: var(--bgColor);
}